body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #252835 url('assets/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    height: 100vh;
    overflow: auto; /* allow scrolling */
}

.about-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-pane {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
    z-index: 10;
}

.logo {
    width: 200px;
    height: auto;
    margin-top: 60px;
    margin-left: 20px;
}

.tagline {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.learn {
    color: #F52929;
    font-weight: 600;
    display: block;
}

.freely {
    color: #FFFFFF;
    font-weight: 600;
    display: block;
}

.left-bottom {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 40px;
}

.qr-code {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.qr-code img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.support-text {
    width: 200px;
    font-size: 14px;
    line-height: 21px;
    margin-left: 15px;
    text-align: left;
    color: #fff;
}

.right-pane {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    overflow-y: auto;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
    margin-top: 60px;
}

.section-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #F52929;
    margin-bottom: 5px;
    margin-top: 15px;
}

.section-title:first-child {
    margin-top: 0;
}

.section-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 10px;
    width: 100%;
}
